
html, body {
    display: flex;
   justify-content: center;
    padding: 4px;
}
#booklist{
    display: inline-flex;
    flex-direction: column;
    background-color: #0e0e0e;
    color: #517b39;
    font-family: Georgia, serif;
     min-height: 100vh;
    
}

#masthead{
    display: flex;
    flex-direction: column;
    align-items:flex-start; /* Center book content */
    max-width: 650px; /* Optional: Limit the width of the book section */
    width: 100%; 
   
}

#hr{
    border-width: 7px;
    color:  #517b39;
    border-radius: 5px
}
h2{
    margin-top: 30px;
}
#summary{
    font-size: 1.5rem;
    color:beige
}

#headline{
    color: #517b39;
    font-size: 4rem;
}

.abook{
    display: flex;
    flex-direction: column;
    align-items:flex-start; /* Center book content */
    
    max-width: 650px; /* Optional: Limit the width of the book section */
    width: 100%; 
    margin-top: 80px;
}
#allbooks{
    
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the books */
    
}
