#login{
    width: 100%;
    height: 100%;
}

#index{
    display: flex; /* Use Flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
    background-color: #0e0e0e; /* Match background color */
    width: 100%;
}

#sign{
    display: inline-grid;
}

#booklist{
    display: inline-grid;
    row-gap:25px;
    background-color: #0e0e0e;
    color: #517b39;
    font-family: Georgia, serif;
     min-height: 100vh;
     max-width: 650px;
     width: 100%;
     
}

#hr{
    border-width: 7px;
    color:  #517b39;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 0px;
}

#summary{
    font-size: 1.3rem;
    color:beige
}

#headline{
    color: #517b39;
    font-size: 3rem;
}

.abook{
    display: grid;
    column-gap: 40px;
    grid-template-columns: 3fr 7fr ;
    width: 100%; 
   padding-left: 12px;
   padding-right: 12px;
    
}
#allbooks{
    
    display: grid; /* Center book content */
    gap: 6px;
    row-gap: 60px;
    width: 100%; 
    margin-top: 30px; 
}
#title{
    color: #718764;
    font-size: 1.5rem;
    margin-top: 15px;
}
#titleBook{
    color: #718764;
    font-size: 1.5rem;
}
#imageText{
    width: 100%; 
}

#text {
    width: 100%; 
}

.form-control.search-bar:hover{
    border-color: #517b39;
    box-shadow: 0 0 10px #517b39; /* Box shadow on hover */
}

.rounded-circle.d-block.link-body-emphasis.text-success-emphasis.dropdown-toggle:hover{
    border-color: #517b39;
    box-shadow: 0 0 10px #517b39; /* Box shadow on hover */
}

.rounded-circle.d-block.link-body-emphasis.text-success-emphasis.dropdown-toggle:focus{
    outline: none; /* Remove blue outline */
    box-shadow:  0 0 10px #517b39; /* Optionally remove any box shadow */
}

.form-control.search-bar:focus {
    outline: none; /* Remove blue outline */
    box-shadow:  0 0 10px #517b39; /* Optionally remove any box shadow */
  }

  .dropdown-menu .dropdown-item {
    color: #b4b0b0; /* Change to your desired color */
  }
  
  .dropdown-menu .dropdown-item:hover {
    color: #b4b0b0; /* Change the hover color if desired */
    background-color: #252724;
  }
  