
html{
    display: inline-flex;
    justify-content: center;
    width: 100%;
}
#booklist{
    display: inline-flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #0e0e0e;
    color: #517b39;
    font-family: Georgia, serif;
     min-height: 100vh;
     max-width: 640px;
     width: 90%;
   
    
  
}

#hr{
    border-width: 7px;
    color:  #517b39;
    border-radius: 5px
}

#summary{
    font-size: 1.3rem;
    color:beige
}

#headline{
    color: #517b39;
    font-size: 3rem;
}

.abook{
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items:flex-start; /* Center book content */
    gap: 1px;
    grid-template-columns: 200px 450px;
    width: 100%; 
   
    
}
#allbooks{
    
    display: grid; /* Center book content */
    gap: 6px;
    row-gap: 60px;
    width: 100%; 
    margin-top: 30px; 
}
#title{
    color: #718764;
    font-size: 1.5rem;
}
#imageText{
    display: grid; /* Center book content */
    gap: 6px;
    row-gap: 10px;
    width: 100%; 
   

}


#text {
   
    width: 100%; 
    
}